/** Import Font **/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/** CSS Code **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: normal;
  color: #091e42;
  font-size: 20px;
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background: #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar .myMenu {
  display: flex;
  list-style: none;
}

.navbar .logo a {
  color: #6070ff;
  text-decoration: none;
}

.navbar .myMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #6070ff;
  font-size: 18px;
}

.navbar .myMenu li a:hover {
  background: rgb(255, 94, 0);
}

.navbar .openMenu {
  font-size: 20px;
  margin: 15px;
  display: none;
  cursor: pointer;
  color: #6070ff;
}

.navbar .myMenu .closeMenu,
.icons i {
  font-size: 24px;
  display: none;
  cursor: pointer;
  color: #fff;
}

.navbar .logo {
  margin: 15px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.headlines {
  height: 616px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom-left-radius: 110px;
  background-image: url("../image/header_background.png");
}

.headline-text {
  padding-left: 15px;
  padding-top: 100px;
}

.headline-text p {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.primary-text {
  position: static;
  width: 920px;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 40px 10px 30px 0;
  font-size: 35px;
}

.btn-connect h6 {
  font-size: 25px;
  color: #007bff;
  font-weight: 200;
}

a.btn-connect {
  text-decoration: none;
}

.media {
  list-style-type: none;
}

.media .social-media {
  display: inline-block;
  border-top: 1px solid white;
  text-decoration: none;
}

.media i {
  color: #505f79;
  font-size: 21px;
  padding-top: 10px;
  padding-right: 8px;
}

@media all and (max-width: 800px) {
  /* for mobile phone */
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar .myMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    background: #6070ff;
    opacity: 0.9;
    transition: top 1s ease;
    display: none;
  }

  .navbar .myMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 28px;
  }

  .navbar .openMenu {
    display: block;
  }

  .stacks li {
    list-style: none;
    border-bottom: 2px solid #f7f7f9;
  }

  .stacks li a {
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  .navbar .myMenu li a {
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    color: #fff;
  }

  .navbar .myMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
    color: #6070ff;
  }

  .project {
    border: 2px solid #e5e5e5;
    background: #fff;
    margin: 88px 10px;
    border-radius: 16px;
  }

  .project img {
    width: 99%;
  }

  .grid-container > li {
    background-color: #f7f7f9;
    font-size: 10px;
    width: 325px;
    border-radius: 8px;
    padding: 10px;
  }

  .work-info ul {
    list-style-type: disc;
  }

  .work-info .intro {
    color: #344563;
  }

  .work-info ul li {
    display: inline;
    padding-bottom: 30px;
    padding-right: 7px;
    color: #7a869a;
    font-size: 14px;
    line-height: 16px;
  }

  .work-info ul li i {
    font-size: 8px;
    text-align: center;
    padding: 4px;
  }

  .project .title {
    color: #172b4d;
    font-size: 32px;
    font-weight: bold;
  }

  .project p {
    font-size: 16px;
    line-height: 24px;
    color: #334563;
    margin: 12px 0;
  }

  .tags .bg-tag {
    align-items: center;
    background: #ebebff;
    border-radius: 8px;
    width: auto;
    height: 30px;
    font-size: 15px;
    padding: 8px 12px;
    color: #6070ff;
    font-weight: 500;
  }

  .project button {
    position: static;
    top: 12px;
    left: 12px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    margin: 12px 12px;
    color: #396df2;
  }

  .about {
    background: #fff;
    border-top-right-radius: 100px;
    position: absolute;
    height: 1263px;
    width: 100%;
  }

  .about-bio {
    padding: 80px 10px 10px 10px;
    width: 300px;
  }

  .about-bio .title {
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    color: #172b4d;
  }

  .about-bio p {
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0;
  }

  .about-bio button {
    font-size: 17px;
    line-height: 24px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));
    align-items: center;
    grid-gap: 10px;
    border: 0;
    background: transparent;
  }

  .grid-container img,
  .grid-container p {
    display: inline;
  }

  .grid-container > li img {
    position: relative;
    bottom: -8px;
    left: -2px;
    height: 50px;
    width: 50px;
  }

  .grid-container > li p {
    font-size: 22px;
    font-weight: 400;
  }

  .stacks {
    padding-top: 30px;
  }

  .contact {
    position: absolute;
    top: 2510px;
    background: #5571fe;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 40px 15px;
    flex-direction: column;
    background-image: url(../image/header_background-b.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    border-top-left-radius: 100px;
  }

  .contact h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    color: #fff;
  }

  .contact-p {
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    padding: 20px 10px;
  }

  .contact input {
    width: 310px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    margin-bottom: 20px;
  }

  .contact input::placeholder {
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    padding-left: 20px;
  }

  .contact textarea {
    width: 310px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
  }

  .contact textarea::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding-left: 20px;
  }

  .contact button {
    height: 48px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    color: #6070ff;
    background-color: #fff;
    position: static;
    top: 347px;
    left: 154px;
    margin: 27px 0;
    border: 1px solid #7f8cff;
  }
}
